<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard</title>
    <%- include('./common_components/links.ejs') %>
    <link rel='stylesheet' href='/stylesheets/deviceList.css' />
    <link rel='stylesheet' href='/stylesheets/deviceControl.css' />
    <link rel='stylesheet' href='/stylesheets/deviceLive.css' />
    <link rel='stylesheet' href='/stylesheets/deviceMesBox.css' />
</head>

<body>
    <div class="main__container">
        <%- include("./common_components/header.ejs") %>
        <%- include("./dashboard_components/imgShowBox.ejs") %>
        <%- include("./dashboard_components/devicesListRow.ejs") %>
        <div class="deviceControl__row">
            <%- include("./dashboard_components/deviceLive.ejs") %>
            <%- include("./dashboard_components/deviceMesBox.ejs") %>
        </div>
        <%- include("./common_components/footer.ejs") %>
    </div>
    <%- include('./common_components/scripts.ejs') %>
    <script src="https://sdk.amazonaws.com/js/aws-sdk-2.16.0.min.js"></script>
    <script src="/javascripts/module/facial.js"></script>
    <script src="/javascripts/index.js"></script>
    <script src="/javascripts/deviceMesBox.js"></script>
    <script src="/javascripts/imgShowBox.js"></script>
    <script src="/javascripts/deviceList.js"></script>
    <script src="/javascripts/jsmpeg.min.js"></script>
    <script src="/javascripts/deviceLive.js"></script>
</body>

</html>