<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Trust Faces</title>
    <%- include('./common_components/links.ejs') %>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.4.3/cropper.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/bootstrap-imageupload.min.css">

    <link rel='stylesheet' href='/stylesheets/trustList.css' />
</head>

<body>
    <div class="main__container">
        <%- include("./common_components/header.ejs") %>
        <div class="main__main">
            <h1>TRUST LIST</h1>
            <div class="uploadFace__browseBtn__container">
                <button type="button" class="btn btn-primary uploadFace__browseBtn" data-toggle="modal" data-target="#addNewFaceModel">
                    <i class="fas fa-plus"></i>
                    <span class="deviceList__addBtn__text">Add New Face</span>
                </button>
                <%- include('./trustList_components/addNewFaceModel.ejs') %>
                <%- include('./trustList_components/deleteFaceModel.ejs') %>
            </div>
            <%- include('./trustList_components/trustFacesContainer.ejs') %>
        </div>
        <%- include("./common_components/footer.ejs") %>
    </div>
    <%- include('./common_components/scripts.ejs') %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.4.3/cropper.min.js"></script>
    <script src="/javascripts/jquery-cropper.min.js"></script>
    <script src="/javascripts/bootstrap-imageupload.js"></script>
    <script src="/javascripts/trustList.js"></script>
</body>

</html>